
body {
    /* width: 100%; */
    /* height: fit-content; */
    border: 3px solid white;
    /* overflow: hidden; */
    background-color: #222;
    /* background-size: cover; */
    /* background-repeat: space; */
    height: fit-content;
    color: white;
    padding-top: 1em;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
    font-family: 'limbo';
}

@font-face {
    font-family: 'limbo';
    src: url(limbo_font__by_alex484000-d5dthys.ttf);
}

h2 {
    height: fit-content;
    width: fit-content;
    padding: .5em;
    margin-top: 0;
}

main {
    grid-area: game;
    height: 500px;
  }
  
#box {
    /* max-width: 50em;
    height: 70vh;
    background-color: rgb(111, 12, 32);
    margin: 0 auto;
    padding: 1em; */
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
    }

canvas {
    background-image: url(./background/limbo_background_by_janepage_d37l9p5-fullview.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: fixed; */
    background-position: flex;
    flex-direction: column;
    border: 3px solid white;
    /* border-bottom: 3px solid #222; */
    /* width: 90%;
    height: 100%; */
    margin: 0;

  }



/* div {
    border: 1px solid yellowgreen;
    height: 50px;
    width: fit-content;
    margin: 10em;
} */

/* #square-back {
    width:100px;
    height:100px;
    background:black;
    border:solid 2px #FFF;
    transform: skew(180deg,210deg);
    position: relative;
    top: 43px;
  }

#square-bottom {
    width:100px;
    height:100px;
    background:black;
    border:solid 2px #FFF;
    transform: skew(180deg,150deg);
    position: relative;
    left:102px;
    top: 43px;
  }

#square-right-side {
    width:114px;
    height:100px;
    background:black;
    border:solid 2px #FFF;
   
  
  transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
    position: absolute;
    left: 0px;
    top: -32px;
  } */
